# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore IPython profile
.ipython/

# Ignore Jupyter configuration
.jupyter/

# Ignore local Jupyter data
.local/share/jupyter/

# Ignore npm logs
.npm/

# Ignore cache files
.cache/

# Ignore other common files and folders
*.pyc
__pycache__/
*.log
*.tmp
*.swp